@import "../../css/colors.scss";
* {
  // 배경
  .main {
    .bg {
      padding-bottom: 180px;
      width: 100%;
      background-image: url("../../img/bg-grid.png");
      padding-top: 0;
      // 2023년에 읽을 도서
      .msg {
        color: $subB;
        font-weight: bold;
        font-size: 20px;
      }

      // 책을 읽었을 때 붙이는 스탬프
      //   .done::after {
      //     content: "";
      //     width: 70%;
      //     height: 70%;
      //     background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/stamp.png");
      //     background-size: cover;
      //     background-position: center;
      //     position: absolute;
      //     top: 20%;
      // }
    }
    // 도서 추가/삭제 버튼
    .icon {
      display: flex;
      gap: 20px;
      font-size: 3em;
      color: $mainT;
      margin-top: 30px;
      margin-bottom: 50px;
      .circlePlus.on {
        color: $subG;
        pointer-events: none;
      }
      .squareMinus.on {
        color: $subG;
        pointer-events: none;
      }
    }
    // 첵 등록 input
    .registration {
      display: none;
      position: relative;
      margin-bottom: 50px;
      color: $mainT;
      input {
        width: 300px;
        border: 2px solid $mainT;
        border-radius: 6px;
        padding: 10px;
      }
      .clearBtn {
        position: absolute;
        top: 3px;
        right: 38px;
        color: $mainS;
        background-color: $subW;
        .faEraser {
          font-size: 1.5em;
          padding: 4px 0 4px 10px;
        }
      }
      .inputCloseBtn {
        color: $mainT;
        background-color: transparent;
        .faXmark {
          font-size: 1.5em;
          margin-left: 5px;
        }
      }
    }
    .registration.on {
      display: block;
      display: flex;
      align-items: center;
    }
    // category
    .category {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      color: $mainT;
      .menu {
        ul {
          display: flex;
          gap: 20px;
          font-size: 1.2em;
          li {
            cursor: pointer;
          }
        }
      }
      .search {
        font-size: 2em;
      }
    }
    // 책 모든 콘텐츠
    .flex-row {
      width: 80%;
      display: flex;
      justify-content: center;
      .bucket {
        width: 160px;
        height: 160px;
        margin: 8px;
        /* 내용 글씨관련 */
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        word-break: keep-all;
        // 책 제목
        h4 {
          line-height: 1.5;
        }
      }
      .img1 {
        background-image: url("../../img/bucket-red.png");
        background-size: cover;
        background-position: center;
      }
      .img2 {
        background-image: url("../../img/bucket-lightred.png");
        background-size: cover;
        background-position: center;
        color: $mainT;
      }
      .img2.on {
        filter: drop-shadow(3px 3px 5px $subG);
      }
      .center.oc {
        opacity: 50%;
      }
    }
    .wrap {
      flex-wrap: wrap;
    }
  }
}
