@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap");
* {
  font-family: "Kaisei HarunoUmi", serif;
  font-family: "Nanum Myeongjo", serif;
  // outline: 1px solid $mainT;

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // icon cursor
  .cursor {
    cursor: pointer;
  }
  // button
  button {
    border: none;
  }
  // 배경
  .bg {
    padding: 50px 0;
    width: 100%;
    background-image: url("../img/bg-grid.png");
    // 2023 독서 계획
    .title {
      color: $subW;
      background-color: $mainT;
      padding: 6px 16px;
      border-radius: 8px;
      margin-bottom: 30px;
      font-size: 25px;
    }
    // 2023년에 읽을 도서
    .msg {
      color: $subB;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 30px;
    }

    // 책을 읽었을 때 붙이는 스탬프
    //   .done::after {
    //     content: "";
    //     width: 70%;
    //     height: 70%;
    //     background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/stamp.png");
    //     background-size: cover;
    //     background-position: center;
    //     position: absolute;
    //     top: 20%;
    // }
  }
  // 도서 추가/삭제 버튼
  .icon {
    display: flex;
    gap: 20px;
    font-size: 3em;
    color: $mainT;
  }
  // 첵 등록 input
  .Registration {
    position: relative;
    margin: 50px 0;
    input {
      width: 300px;
      border: 2px solid $mainT;
      border-radius: 6px;
      padding: 10px;
    }
    button {
      position: absolute;
      top: 3px;
      right: 10px;
      background-color: $subW;
      .faXmark {
        font-size: 1.5em;
        color: $mainT;
        padding: 4px 0 4px 10px;
      }
    }
  }
  // category
  .category {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    color: $mainT;
    .menu {
      ul {
        display: flex;
        gap: 20px;
        font-size: 1.2em;
        li {
          cursor: pointer;
        }
      }
    }
    .search {
      font-size: 2em;
    }
  }
  // 책 모든 콘텐츠
  .flex-row {
    width: 80%;
    display: flex;
    justify-content: center;
    .bucket {
      width: 160px;
      height: 160px;
      margin: 8px;
      /* 내용 글씨관련 */
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      word-break: keep-all;
      // 책 제목
      h4 {
        line-height: 1.5;
      }
    }
    .img1 {
      background-image: url("../img/bucket-red.png");
      background-size: cover;
      background-position: center;
    }
    .img2 {
      background-image: url("../img/bucket-lightred.png");
      background-size: cover;
      background-position: center;
      color: $mainT;
    }
  }
  .wrap {
    flex-wrap: wrap;
  }
}
